.movie-item {
    padding: 0 8px;
    width: 206px;
    margin-bottom: 32px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    cursor: pointer;
    .item-title {
        height: 66px;
        font: 12px Shabnam;
        direction: rtl;
        color: white;
        .episode-title {
            color: #aaaaaa;
        }
    }
    .item-image {
        height: 280px;
        margin-bottom: 8px;
        position: relative;
        border-radius: 5px;
        background-color: #37383e;
        overflow: hidden;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

}
